#about-page-intro {
    .video-title {
        text-align: center;
        font-size: 30px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 25px;
            font-size: 30px;
        }
    }
    
    .container:first-child {
        z-index: 1;
    }

    .video-outer-wrapper {
        max-width: 772px;
        margin: 0 auto;
    }

    .video-wrapper {
        padding-top: 56.25%;
        position: relative;
        width: 100%;
    }
    .vimeo-video {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        margin: 0;
        top: 0;
        left: 0;
    }

    .about-intro-text {
        background-color: $primary-color;
        position: relative;
        top: -40px;
        z-index: 0;
        padding-top: 50px;
        padding-bottom: 20px;

        @media only screen and (min-width: 992px) {
            top: -85px;
            padding-top: 95px;
        }

        .header {
            color: $secondary-color;
            text-align: center;
            font-size: 30px;

            @media only screen and (min-width: 992px) {
                font-size: 30px;
                margin-bottom: 15px;
            }
        }

        .description {
            text-align: center;
            color: $white;

            @media only screen and (min-width: 992px) {
                margin-bottom: 20px;
                max-width: 944px;
                margin-left: auto;
                margin-right: auto;
            }

            @media only screen and (min-width: 1200px) {
                text-indent: 62px;
            }

            img {
                display: none;

                @media only screen and (min-width: 992px) {
                    display: initial;
                    margin-right: 10px;
                    float: left;
                }

                @media only screen and (min-width: 1200px) {
                    display: initial;
                    position: absolute;
                    top: 35px;
                    left: 93px;
                }

                @media only screen and (min-width: 1440px) {
                    left: 214px;
                }
            }
        }

        .name {
            text-transform: uppercase;
            text-align: center;
            color: $white;
            font-size: 18px;
            font-family: $heading !important;
        }
    }
}

#about-namesake {
    padding-bottom: 25px;

    @media only screen and (min-width: 992px) {
        padding-bottom: 50px;
    }

    @media only screen and (min-width: 1200px) {
        padding-bottom: 85px;
    }

    .header {
        font-size: 30px;
        color: $dark-font;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
        }
    }

    img {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
    }

    .text {
        color: $dark-font;
        
        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
        }
    }
}

#about-vision {
    background-color: $primary-color !important;
    margin-bottom: 30px;
    // padding-top: 45px;
    // padding-bottom: 25px;

    @media only screen and (min-width: 992px) {
        // padding-top: 60px;
        // padding-bottom: 50px;
    }

    @media only screen and (min-width: 1200px) {
        // padding-bottom: 85px;
        // padding-top: 85px;
    }

    .col-xs-12 {
        padding: 0;
    }

    .col-sm-pull-6 {
        padding-left: 15px;
        padding-right: 15px;

        @media only screen and (min-width: 1200px) {
            padding-top: 45px;
        }
    }

    .text-wrapper {
        margin-bottom: 30px;

        @media only screen and (min-width: 768px) {
            max-width: 418px;
            float: right;
            margin-bottom: 0px;
        }

        @media only screen and (min-width: 992px) {
            max-width: 545px;
        }

        @media only screen and (min-width: 1200px) {
            max-width: 439px;
            position: relative;
            right: 50px;
        }

        @media only screen and (min-width: 1440px) {
            max-width: 521px;
        }
    }

    .vision-image {
        background-image: url('../images/about-vision.png');
        height: 200px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 768px) {
            height: 580px;
        }

        @media only screen and (min-width: 992px) {
            height: 490px;
        }

        @media only screen and (min-width: 1200px) {
            height: 611px;
        }
    }

    .header {
        font-size: 30px;
        color: $secondary-color;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
        }
    }

    .text:nth-child(3) {
        @media only screen and (min-width: 1200px) {
            left: -65px;
        }

        &:before {
            @media only screen and (min-width: 1200px) {
                right: -105px;
                left: auto !important;
                top: 20px;
            }
        }
    }

    .text {
        color: $white;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
            position: relative;
        }

        &:before {
            @media only screen and (min-width: 1200px) {
                content: '';
                display: inline-block;
                height: 90px;
                width: 90px;
                background-image: url('../images/icon-knot-gold.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                left: -105px;
            }
        }
    }

    img {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
    }
}

#about-seal {
    padding-bottom: 25px;

    @media only screen and (min-width: 768px) {
        padding-top: 20px;
    }

    @media only screen and (min-width: 992px) {
        padding-bottom: 50px;
        padding-top: 40px;
    }

    @media only screen and (min-width: 1200px) {
        padding-bottom: 85px;
        padding-top: 60px;
    }

    .header {
        font-size: 30px;
        color: $dark-font;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
        }
    }

    img {
        margin: 0 auto;
        display: block;
        width: 100%;
        height: auto;
        max-width: 459px;
    }

    .text {
        color: $dark-font;

        @media only screen and (min-width: 1200px) {
            margin-bottom: 25px;
        }
    }
}

#more-about {
    margin-bottom: 45px;

    @media only screen and (min-width: 992px) {
        margin-bottom: 60px;
        border-bottom: 10px solid $secondary-color;
    }

    @media only screen and (min-width: 1200px) {
        margin-bottom: 80px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .col-md-6 {
        @media only screen and (min-width: 992px) {
            padding-left: 0px;
            padding-right: 0px;        
        }
    }

    .more-about-rinpoche {
        background-color: rgba(255, 185, 49, 0.78);;
        position: absolute;
        top: 0;
        right: 0px;
        padding: 10px 35px 20px;

        @media only screen and (min-width: 992px) {
            top: 57px;
        }

        h2 {
            color: $dark-font;

            @media only screen and (min-width: 768px) {
                font-size: 30px;
            }

            @media only screen and (min-width: 992px) {
                font-size: 22px;
                text-align: right;
            }

            @media only screen and (min-width: 1200px) {
                font-size: 30px;
            }

            a {
                color: $dark-font !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .more-about-lineage {
        background-color: rgba(184, 48, 41, 0.86);
        position: absolute;
        top: 0;
        left: 0px;
        padding: 10px 35px 20px;

        @media only screen and (min-width: 992px) {
            top: 25px;
            left: 20px;
        }

        @media only screen and (min-width: 1200px) {
            padding: 10px 80px 20px 35px;

        }

        h2 {
            text-align: right;

            @media only screen and (min-width: 768px) {
                font-size: 30px;
            }

            @media only screen and (min-width: 992px) {
                font-size: 22px;
                text-align: left;
            }

            @media only screen and (min-width: 1200px) {
                font-size: 30px;
            }

            a {
                color: $secondary-color !important;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

#teacher-bios {
    margin-bottom: 45px;

    @media only screen and (min-width: 992px) {
        margin-bottom: 60px;
    }

    @media only screen and (min-width: 1200px) {
        margin-bottom: 80px;
    }

    .col-xs-12 {
        height: 395px;

        @media only screen and (min-width: 992px) {
            height: 515px;
        }

        @media only screen and (min-width: 1440px) {
            height: 495px;
        }
    }

    .description {
        text-align: center;
        max-width: 480px;
        margin: 0 auto 25px;  

        @media only screen and (min-width: 992px) {
            margin-bottom: 35px;
        }      
    }

    img {
        margin: 0 auto;
        display: block;
        width: 50%;
        max-width: 262px;

        @media only screen and (min-width: 992px) {
            width: 100%;
        }
    }

    .header {
        font-size: 30px;
        text-align: center;
        color: $dark-font;

        @media only screen and (min-width: 992px) {
            margin-bottom: 10px;
        }
    }

    .author {
        font-family: $semi-bold !important;
        color: $primary-color;
        text-align: center;

        a {
            font-size: 22px;
        }
    }

    .bio {
        text-align: center;
        max-width: 320px;
        display: block;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    a {
        font-size: 14px;
        text-align: center;
        letter-spacing: 0.04em;
        color: $primary-color;
        display: block;
        text-transform: uppercase;
    }
}