
.getting-started-container {
    position: relative;
    top: -25px;

    @media only screen and (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }

    @media only screen and (min-width: 992px) {
        top: -50px;
    }

    .getting-started-mobile-nav {  
        position: fixed;
        bottom: 0px;
        background-color: $primary-color;
        z-index: 2;
        width: 100vw;
        left: 0;
        padding: 7px 15px 15px;
        -webkit-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.22);
        -moz-box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.22);
        box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.22);
        transition: all 2s;

        h2 {
            margin-top: 0;
            color: $white;
            font-size: 1.8rem !important;
        }

        @media only screen and (min-width: 768px) {
            display: none;
        }

        select {
            border: 0px;
            background-color: #fff;
            width: 80%;
        }
    }

    .hide-nav {
        //position: fixed;
        bottom: -91px;
        //transition: all 2s;
    }

    .menu-column {
        @media only screen and (min-width: 768px) {
            //height: 100vh;
        }

        .getting-started-menu {
            display: none;
            background-image: url('../images/bg-getting-started-menu.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
        
            @media only screen and (min-width: 768px) {
                display: block;
            }

            @media only screen and (min-width: 1200px) {
                padding-top: 68px;
                padding-bottom: 50px;
                border-right: 8px solid $secondary-color;
            }

            .panel-title {
                font-size: 24px;
                line-height: 1em;
                color: $white;
                padding: 7px 0;

                @media only screen and (min-width: 992px) {
                    font-size: 30px;
                }

                a {
                    color: $white;
                    display: block;
                    position: relative;

                    span {
                        color: $primary-color;
                        border: 2px solid $white;
                        background-color: $white;
                    }

                    &:hover {
                        text-decoration: none;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 0 8px 8px;
                        border-color: transparent transparent transparent $white;
                        position: absolute;
                        top: 8px;
                        right: 0;
                        transition-timing-function: ease;
                        transition: 0.2s;
                    }
                }

                a.collapsed {
                    color: $secondary-color !important;

                    span {
                        color: $secondary-color;
                        border: 2px solid $secondary-color;
                        background-color: transparent;
                    }

                    &:after {
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 8px 8px 0 8px;
                        border-color: $secondary-color transparent transparent transparent;
                        position: absolute;
                        top: 11px;
                        right: 0;
                        transition-timing-function: ease;
                        transition: 0.2s;
                    }
                }

                span {
                    @media only screen and (min-width: 768px) {
                        font-size: 18px;
                        border-radius: 50%;
                        width: 28px;
                        display: inline-block;
                        text-align: center;
                    } 

                    @media only screen and (min-width: 992px) {
                        font-size: 24px;
                        width: 34px;
                    }
                }
            }

            .panel-default>.panel-heading {
                background-color: rgba(184, 48, 41, 0.8);;
                border-radius: 0;
                border: 0;
            }

            .panel-group .panel-heading+.panel-collapse>.panel-body {
                border-top: 0;
            }

            .panel-group .panel {
                border-radius: 0;
                border: 0;
                background-color: transparent;

                .panel-heading {

                    @media only screen and (min-width: 992px) {
                        padding-left: 20%;
                    }
                }

                .panel-heading.active-panel {
                    @media only screen and (min-width: 1200px) {
                        width: 105%;
                    }

                    a {
                        &:after {
                            @media only screen and (min-width: 1200px) {
                                right: 25px;
                            }
                        }
                    }
                }
            }

            .panel-group .panel+.panel {
                margin-top: 1px;
            }

            .panel-body {

                @media only screen and (min-width: 992px) {
                    margin-left: 10%;
                    padding-left: 25px;
                    border-left: 1px solid $secondary-color;
                }

                @media only screen and (min-width: 1200px) {
                    margin-left: 15%;
                    padding-left: 25px;
                    border-left: 1px solid $secondary-color;
                    padding-top: 25px;
                    padding-bottom: 25px;
                }

                .menu-item {
                    display: table;
                    margin-bottom: 10px;

                    @media only screen and (min-width: 1200px) {
                        margin-bottom: 15px;
                    }

                    button {
                        background-color: transparent;
                        border: 0;
                        text-align: left;
                        display: table-cell;

                        @media only screen and (min-width: 1200px) {
                            font-size: 18px;
                        }

                        @media only screen and (min-width: 1440px) {
                            font-size: 22px;
                        }
                    }

                    .format {
                        display: table-cell;
                        width: 18px;
                    }

                    p {
                        display: table-cell;
                        font-family: $heading !important;
                        color: $white;

                        @media only screen and (min-width: 1200px) {
                            font-size: 18px;
                        }

                        @media only screen and (min-width: 1440px) {
                            font-size: 22px;
                        }
                    }
                    
                    &:last-child {
                        margin-bottom: 0px;
                    }
                }

                .menu-item.active {
                    position: relative;

                    p {
                        color: $secondary-color;
                    }

                    button {
                        color: $secondary-color;
                        font-weight: bold;
                    }

                    &:before {
                        content: '';
                        display: inline-block;
                        background-image: url('../images/icon-li-knot.png');
                        height: 31px;
                        width: 31px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        left: -41px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

    .content-column {
        @media only screen and (min-width: 768px) {
            padding-right: 45px;
        }
        @media only screen and (min-width: 992px) {
            max-width: 715px;
        }
        @media only screen and (min-width: 1200px) {
            padding-right: 0px;
            padding-left: 45px;
            padding-top: 65px;
        }

        .category {
            font-size: 14px;
            letter-spacing: 0.04em;
            color: $primary-color;
            font-family: $body !important;
            text-transform: uppercase;
            margin-bottom: 5px;

            @media only screen and (min-width: 992px) {
                font-size: 18px;

            }
        }

        .post-title {
            @media only screen and (min-width: 768px) {
                margin-bottom: 15px;
            }
            @media only screen and (min-width: 992px) {
                margin-bottom: 30px;
            }
            @media only screen and (min-width: 1200px) {
                margin-bottom: 40px;
            }
            @media only screen and (min-width: 1440px) {
                margin-bottom: 55px;
            }
        }

        // .post-container {
        //     position: absolute;
        //     top: 0;
        // }
    }
}
