body, #content, section {
    background-color: $white !important;
}

#content {
    @media only screen and (min-width: 768px) {
        margin-bottom: 50px;
    }
}

html { font-size: 62.5%; } 
body { font-size: 1.6rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */

h1, h2, h3, h4, h5, h6 {
    font-family: $heading !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit !important;
}

// h2.h2 {
//     font-size: 30px;
// }

h2.section-header {
    line-height: normal;
    font-size: 2.8rem !important;

    @media only screen and (min-width: 768px) {
        font-size: 3.0rem !important;
    }
}

h2.post-title {
    font-family: $body !important;
    color: $gray-font;
    font-weight: bold;
}

p strong {
    font-family: $semi-bold !important;
}

p, li {
    font-family: $body !important;
}

p {
    color: $gray-font;
}

a, span, strong  {
    font-family: inherit !important;
}

a {
    font-weight: inherit;
    
    &:hover {
        color: inherit !important;
        text-decoration: underline;
    }
}

a.bg-a-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.gfield_label {
    font-family: $semi-bold;
    color: $gray-font;
    text-transform: uppercase;
    margin-bottom: 0;
    font-weight: normal !important;
    font-size: 18px !important;
}

.ginput_container {
    margin-top: 0 !important;
}

input[type=text], input[type=password], input[type=email], input[type=url], input[type=image], input[type=number], input[type=search], input[type=time], textarea, #buddypress input[type=text], select {
    border: 1px solid $light-gray-font !important;
    padding: 10px 10px 7px !important;
    color: $gray-font;
}

#buddypress .item-list-tabs .dir-search label:after {
    color: $gray-font;
}

.gform_wrapper .gform_footer input[type=submit] {
    background-color: $primary-color;
    color: $white;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 12px 35px;
    display: inline-block;
    border-radius: 0;
}

.gform_wrapper .field_sublabel_hidden_label .ginput_complex.ginput_container input[type=text] {
    margin-bottom: 0;
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    padding: 4px 15px 4px;

    @media only screen and (min-width: 768px) {
        padding: 12px 35px;
        font-size: 18px;
    }



    &:hover {
        color: $white !important;
    }
}

.primary-btn-inverted {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    padding: 4px 15px 4px;

    @media only screen and (min-width: 768px) {
        padding: 12px 35px;
        font-size: 18px;
    }

    &:hover {
        color: $primary-color !important;
    }

}

.secondary-btn {
    background-color: $white;
    color: $primary-color;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    display: inline-block;
    font-size: 13px;
    padding: 4px 15px 4px;

    @media only screen and (min-width: 768px) {
        padding: 12px 35px;
        font-size: 18px;
    }
}

.image-dropshadow {
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
    box-shadow: 10px 10px 0px 0px $secondary-color;
}

#page-title {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px 0;
    margin-bottom: 25px;

    @media only screen and (min-width: 992px) {
        padding: 95px 0;
        margin-bottom: 50px;
    }

    h2 {
        text-align: center;
        color: $white;
        font-size: 2.8rem;
        text-transform: uppercase;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.36);
        -webkit-text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.36);
        -moz-text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.36);
        
        @media only screen and (min-width: 992px) {
            font-size: 6.4rem;
        }
    }

    h5 {
        color: $white;
        text-align: center;
        
        @media only screen and (min-width: 992px) {
            font-size: 30px;
        }
    }
}

// Donation Form 
#gform_fields_46 {
    #field_46_10 {
        display: none;
    }

    .gfield_label {
        font-size: 22px !important;
    }

    li.field_sublabel_below {
        margin-bottom: 35px;
    }
}

.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px;
    margin-right: 5px;
    position: relative;
    bottom: 2px;
}

#atlwdg-trigger {
    z-index: 999;
}

.slick-list {
    height: auto;
}

.slick-dots {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);

    li {
        display: inline-block;
        margin-left: 3px;
        margin-right: 3px;

        @media only screen and (min-width: 768px) {
            margin-left: 5px;
            margin-right: 5px;
        } 

        button {
            text-indent: -99999px;
            border: 0;
            border-radius: 50%;
            height: 14px;
            width: 14px;
            display: block;
            background-color: $light-gray-font;
            font-size: 6px;

            @media only screen and (min-width: 768px) {
                height: 16px;
                width: 16px;
                font-size: 16px;
            }

        }
    }

    li.slick-active {
        button {
            background-color: $secondary-color;
        }
    }
}

.slick-prev {
    &:before {
        content: "";
        height: 36px;
        width: 36px;
        display: block;
        background: transparent;
        background-image: url('../images/icon-prev.png');
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    &:after {
        content: none;
    }

    &:hover:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -22px;
    }
}

.slick-next {
    &:before {
        content: "";
        height: 36px;
        width: 36px;
        display: block;
        background: transparent;
        background-image: url('../images/icon-next.png');
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    &:after {
        content: none;
    }

    &:hover:before {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        margin-top: -22px;
    }
}

// pagination 
.archive .pagination {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;

    span, a {
        font-size: 14px;
        letter-spacing: 0.04em;
        color: $dark-font;
        border: 0px;
        font-weight: normal;
        padding: 8px 14px;
        margin-bottom: 5px;
    }

    span:nth-child(1) {
        display: none;
    }

    .current {
        color: $white;
    }
}

#pag-bottom.pagination  {
    margin-bottom: 45px !important;

    .pag-count {
        display: none;
    }

    span, a {
        font-size: 14px;
        letter-spacing: 0.04em;
        color: $dark-font;
        border: 0px;
        font-weight: normal;
        padding: 8px 14px;
        margin-bottom: 5px;
    }

    .current {
        color: $white;
    }
}

