body, #content {
    background-color: $white !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $heading !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit !important;
}

h2 {
    font-size: 30px;
}

p, li {
    font-family: $body !important;
}

a, span, strong  {
    font-family: inherit !important;
}

a {

    &:hover {
        color: inherit !important;
        text-decoration: underline;
    }
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 12px 35px;
    display: inline-block;

}

.primary-btn-inverted {
    background-color: transparent;
    border: 2px solid $primary-color;
    color: $primary-color;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 12px 35px;
    display: inline-block;

}

.secondary-btn {
    background-color: $white;
    color: $primary-color;
    font-size: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 12px 35px;
    display: inline-block;
}

.image-dropshadow {
    -webkit-box-shadow: 10px 10px 0px 0px $secondary-color;
    -moz-box-shadow: 10px 10px 0px 0px $secondary-color;
    box-shadow: 10px 10px 0px 0px $secondary-color;
}