body {
    background-color: $white !important;
}

.button-wrapper {
    width: 100%;
    text-align: center;
}

.primary-btn {
    background-color: $primary-color;
    color: $white;
    text-transform: uppercase;
    padding: 12px 35px;

}

.secondary-btn {
    background-color: $white;
    color: $primary-color;
    text-transform: uppercase;
    padding: 12px 35px;
    display: inline-block;
}