.default-text-block {
    padding: 95px 0;

    .primary-btn {
        float: right;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.program-group-block {
    background-color: $primary-color;
    padding: 55px 0;


    h2, p {
        color: $white;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.featured-post-block {
    padding: 50px 0 60px 0;
}