#wpadminbar {
    display: none;

    @media only screen and (min-width: 768px) {
        display: block;
    }
}

.pagesidebar {
    .login-menu {
        background-color: $primary-color;
        padding: 15px;

        li {
            margin: 0 auto;
            display: block;
            width: 30px;

            .smallimg {
                grid-template-columns: 30px 1fr;

                img {
                    border-radius: 50%;
                }
            }
        }
    }

    .logged-out {
        text-align: center;
        
        li {
            display: inline;
        }
    }

    .mobile_icons {
        background-color: $primary-color;
    }

    .sidemenu {
        li {
            border-bottom: 1px solid rgba(0,0,0,.1);
            border-top: 0;
        }
    }
}

header {
    box-shadow: none !important;
    background-color: $primary-color !important;
    height: 75px;

    @media only screen and (min-width: 768px) {
        height: 100px;
    }

    nav .menu li.current-menu-item {
        a {
            border-bottom: 2px solid $secondary-color;
        }
    }
    
    nav .menu li a {
        padding: 0px !important;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-decoration: none;

        &:hover {
            border-bottom: 2px solid $secondary-color;
        }

        strong {
            font-weight: normal;
        }
    }

    nav {

        .sub-menu {
            padding: 10px;

            li a {
                color: $dark-font !important;
            }
        }

        @media only screen and (min-width: 992px) {
            position: absolute;
            bottom: -75px;
            right: 0px;

            .fa-search:before {
                content: none;
            }

            .fa-search:after {
                content: "";
                height: 16px;
                width: 16px;
                display: block;
                background-image: url('../images/icon-search.png');
                position: relative;
                top: 2px;
            }
        }
    }

    .top-nav {
        display: none;

        @media only screen and (min-width: 992px) {
            display: block;
            position: absolute;
            right: 0px;
            top: 17px;
        }

        .login-menu {
            display: inline-block;
        }

        .logged-out {
            position: relative;
            bottom: 5px;
        }

        .wpml-ls-statics-shortcode_actions {
            display: inline-block;

            position: relative;
            bottom: 5px;

            .wpml-ls-native {
                display: none;
            }
        }
    }
    
    .logo-wrapper {
        padding-top: 18px;

        @media only screen and (min-width: 768px) {
            padding-top: 16px;
        }

        img {
            width: auto;
            height: 38px;

            @media only screen and (min-width: 768px) {
                width: auto;
                height: 63px;
            }
        }
    }
}

.menu-main-menu-container {
    // #new_searchicon {
    //     font-size: 29px;
    //     position: relative;
    //     top: -13px;
    // }
    
    ul {
        a {
            color: $white !important;
        }
    }
}

.login-menu {
    // position: absolute;
    // top: 17px;
    // right: 127px;

    li {
        display: inline-block;

        a {
            color: $white;
            font-size: 13px;
            letter-spacing: 0.04em;
        }
    }
}

header #trigger {
    top: 24px;

    @media only screen and (min-width: 768px) {
        top: 34px;
    }
}

#trigger .lines {
    width: 35px;
}

#trigger .lines:after, #trigger .lines:before {
    width: 35px;
}

#trigger .lines:before {
    top: 10px;
}

#trigger .lines:after {
    top: -10px;
}

#trigger .lines, #trigger .lines:before, #trigger .lines:after {
    background: $white !important;
}

.wpml-ls-legacy-dropdown {
    width: 4.5em;

    a {
        background-color: transparent;
        border: 0;
    }

    a.wpml-ls-item-toggle:after {
        border-top: .5em solid #fff;
        right: 20px;
        top: 9px;
    }

    a:hover, a:focus, .wpml-ls-current-language:hover>a {
        background: none;
    }

    .wpml-ls-sub-menu {
        background-color: $white;
    }
}