#hero-carousel {
    .item {
        width: 100%;
    }

    .glyphicon-chevron-left:before {
        content: "";
        height: 36px;
        width: 36px;
        display: block;
        background-image: url('../images/icon-prev.png');
    }

    .glyphicon-chevron-right:before {
        content: "";
        height: 36px;
        width: 36px;
        display: block;
        background-image: url('../images/icon-next.png');
    }

    .hero-caption {
        display: table-cell;
        vertical-align: middle;
        padding: 0 15%;
        text-align: center;
        color: $white;

        @media only screen and (min-width: 992px) {
            text-align: left;
        }

        h2 {
            color: $white;
            font-size: 36px;

            @media only screen and (min-width: 768px) {
                font-size: 48px;
            }

            @media only screen and (min-width: 992px) {
                font-size: 64px;
            }
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;

            @media only screen and (min-width: 992px) {
                width: 75%;
            }
        }
    }

    .carousel-image {
        display: table;
        width: 100%;
        height: 480px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .carousel-indicators .active {
        background-color: $secondary-color;
    }

    .carousel-indicators li {
        border: none;
        background-color: $white;
    }
}

.about-section {
    .default-text-block {
        padding: 25px 0 60px;

        @media only screen and (min-width: 768px) {
            padding: 95px 0;
        }
    
        .primary-btn {
            margin-bottom: 50px;
            
            @media only screen and (min-width: 768px) {
                margin-bottom: 0px;
            }

            @media only screen and (min-width: 1200px) {
                float: right;
                position: relative;
                right: 70px;
            }

            @media only screen and (min-width: 1400px) {
                right: 140px;
            }
        }
    
        img {
            width: 100%;
            height: auto;
        }
    }

    h2 {
        margin-bottom: 20px;
        color: $dark-font;
        font-size: 30px;
        
        @media only screen and (min-width: 768px) {
            margin-bottom: 35px;
            margin-top: 0;
        }

        @media only screen and (min-width: 1200px) {
            width: 506px;
        }
    }

    p {
        margin-bottom: 33px;
        color: $gray-font;

        @media only screen and (min-width: 1200px) {
            width: 520px;
            float: right;
        }

        @media only screen and (min-width: 1400px) {
            position: relative;
            right: 70px;
        }
    }
    
    .about-image {
        height: 350px;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        @media only screen and (min-width: 768px) {
            // width: 90%;
            // float: right;
            max-width: 90%;
        }
    }
}

.program-group-block {
    background-color: $primary-color;
    padding: 30px 0 55px;

    @media only screen and (min-width: 768px) {
        padding: 55px 0;
    }

    h2, p {
        color: $white;
    }

    h2 {
        font-size: 30px;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 35px;
        }
    }

    p {
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 30px;
        }
    }

    h3 {
        color: $white;
        font-family: $semi-bold !important;
        font-size: 16px;
        line-height: 22px;
        margin-top: 15px;
    }

    img {
        width: 100%;
        height: auto;
    }

    .row-programs {
        margin-bottom: 30px;
    }

    .icon-map {
        max-height: 267px;
        width: auto;
        height: auto;
        margin: 0 auto;
        display: block;
        margin-bottom: 35px;
    }

    .col-study-programs {
        margin-bottom: 30px;
        border-bottom: 3px solid $secondary-color;
        padding-bottom: 50px;

        @media only screen and (min-width: 768px) {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
            padding-right: 40px;
        }
    }

    .col-groups {
        @media only screen and (min-width: 768px) {
            padding-left: 40px;
            border-left: 3px solid $secondary-color;
        }
    }
}

.latest-learning-resources {
    padding-top: 50px;
    padding-bottom: 60px;

    .row:nth-child(2) {
        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 25px;
        }

        div.col-xs-12.col-sm-12.col-md-4 {
            @media only screen and (min-width: 768px) {
                margin-top: 15px;
            }
            @media only screen and (min-width: 992px) {
                margin-top: 20px;
            }
        }

        div.col-xs-12.col-sm-6.col-md-4:first-child {
            @media only screen and (min-width: 992px) {
                margin-top: 20px;
            }
        }
    }

    h2:first-child {
        font-size: 30px;
        margin-bottom: 45px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 30px;
        }
    }

    h2:not(:first-child) {
        font-size: 18px;
        font-family: $semi-bold !important;
        margin-top: 0px;
        line-height: 24px;
    }

    h3 {
        font-size: 12px;
        color: $primary-color;
        font-family: $light !important;
        text-transform: uppercase;
        margin-top: 15px;
        margin-bottom: 5px;
    }

    .overlay-category {
        position: absolute;
        bottom: 10px;
        left: -10px;

        p {
            font-size: 14px;
            text-transform: uppercase;

            span {
                background-color: $secondary-color;
                padding: 7px 20px 5px;
            }
        }
    }

    .course-image {
        height: 353px;
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .overlay-category {
            @media only screen and (min-width: 992px) {
                bottom: 30px;
            }
        }
    }

    .center-grid {
        .center-images {
            width: 100%;
            height: 180px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;

            p {
                display: block;
            }
        }

        p {
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }

        .overlay-category {
            p {
                @media only screen and (min-width: 992px) {
                    font-size: 12px;
                }
                span {
                    @media only screen and (min-width: 992px) {
                        padding: 3px 10px 1px;
                    }
                }
            }
        }
    }
    
    .article-image {
        width: 100%;
        height: 180px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-right: 20px;

        @media only screen and (min-width: 992px) {
            width: 150px;
            height: 150px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            float: left;
            margin-right: 20px;
        }
    }

    .col-articles {
        @media only screen and (min-width: 992px) {
            margin-bottom: 25px;
        }

        h3 {
            @media only screen and (min-width: 992px) {
                margin-top: 0;
            }
        }

        .overlay-category {
            p {
                @media only screen and (min-width: 992px) {
                    font-size: 12px;
                }
                span {
                    @media only screen and (min-width: 992px) {
                        padding: 3px 10px 1px;
                    }
                }
            }
        }

        &:last-child {
            @media only screen and (min-width: 768px) {
                display: none;
            }
        }
    }
}

.grd-section {
    background-color: $primary-color;
    padding: 25px 0 130px;

    @media only screen and (min-width: 992px) {
        padding: 40px 0 140px
    }

    .button-wrapper {
        position: relative;
        top: 80px;
    }

    .grd-section-intro {
        margin-bottom: 40px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 60px;
        } 

        h2 {
            font-size: 30px;
            text-align: center;
            color: $white;
            margin-bottom: 30px;
        }

        p {
            text-align: center;
            color: $white;

            @media only screen and (min-width: 992px) {
                width: 70%;
                display: block;
                margin: 0 auto;
            } 
        }
    }

    #grd-carousel {
        .item {
            width: 100%;
        }

        .carousel-control {
            background-image: none;
            top: -50px;

            @media only screen and (min-width: 768px) {
                top: auto;
                bottom: -25px;
            }
        }

        .carousel-inner {
            .row {
                margin: 0;
            }
        }

        .glyphicon-chevron-left:before {
            content: "";
            height: 36px;
            width: 36px;
            display: block;
            background-image: url('../images/icon-prev.png');
        }
    
        .glyphicon-chevron-right:before {
            content: "";
            height: 36px;
            width: 36px;
            display: block;
            background-image: url('../images/icon-next.png');
        }

        .carousel-indicators {
            bottom: -50px;
        }

        .col-xs-12.col-sm-6:first-child {
            @media only screen and (min-width: 768px) {
                padding: 20px 0 20px;
            }
        }

        .col-xs-12.col-sm-6 {
            padding: 0;

            .post-image {
                width: 100%;
                height: 362px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                @media only screen and (min-width: 768px) {
                    height: 324px;
                }

                @media only screen and (min-width: 1200px) {
                    width: 80%;
                    float: right;
                }
            }

            .post-content {
                padding: 30px;
                border-top: 20px solid $secondary-color;

                @media only screen and (min-width: 768px) {
                    border-top: 0px;
                    border-left: 20px solid $secondary-color;
                    height: 100%;
                } 
                
                .date {
                    line-height: 19px;
                    font-size: 14px;
                    letter-spacing: 0.04em;
                    color: $primary-color;
                    text-transform: uppercase;
                    margin-bottom: 0;
                }

                p:nth-child(3) {
                    margin-bottom: 25px;
                }

                h2 {
                    line-height: 33px;
                    font-size: 24px;
                    font-family: $semi-bold !important;
                    color: $dark-font;
                    margin-top: 0;
                }
            }
        }
    }

    .col-xs-12.col-sm-6:last-child {
        background-color: $white;

        @media only screen and (min-width: 768px) {
            height: 365px;
            display: table;
        }

        .post-content {
            display: table-cell;
            vertical-align: middle;
        }
    }

}

.weekly-reflection {
    padding-top: 45px;
    padding-bottom: 80px;

    h3 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }

    p {
        line-height: 49px;
        font-size: 36px;
        color: $primary-color;
        text-align: center;
        margin-bottom: 30px;

        @media only screen and (min-width: 992px) {
            width: 786px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }

    img {
        margin: 0 auto;
        display: block;
    }
}

.footer-newsletter {
    background-image: url('../images/bg-newsletter.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px 0 60px;

    h3 {
        font-size: 30px;
        color: $white;
        text-align: center;
        margin-bottom: 20px;

        @media only screen and (min-width: 768px) {
            margin-bottom: 25px;
        }
    }

    p {
        color: $white; 
        text-align: center;
        width: 610px;
        margin: 0 auto 20px;
    }

    #mc_embed_signup_scroll {
        @media only screen and (min-width: 768px) {
            width: 591px;
            margin: 0 auto;
        }

        input[type=email] {
            opacity: 0.64;
            padding: 10px;
            width: 100%;

            @media only screen and (min-width: 768px) {
                width: 406px;
                display: inline-block;
            }
        }
    }

    .clear {
        @media only screen and (min-width: 768px) {
            display: inline-block;
        }

        input {
            background-color: $primary-color;
            border-radius: 0px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            font-weight: normal;
            width: 100%;

            @media only screen and (min-width: 768px) {
                padding: 8px 25px;
                position: relative;
                top: 1px;
                left: 20px;
            }
        }
    }
}

footer {
    background-color: $dark-font !important;
    padding: 40px 0;

    h4 {
        font-size: 24px;
        margin-bottom: 25px;
    }

    div.container > div > div:nth-child(3) > h4:nth-child(3) {
        margin-bottom: 15px;
    }

    li {
        margin-bottom: 5px;

        a {
            font-size: 16px;
            color: $light-gray-font;
        }
    }

    .social-icon-menu {
        margin-bottom: 25px;

        li {
            display: inline;
            margin-right: 5px;
        }
    }

    .wpml-ls-statics-shortcode_actions {
        width: 10em;

        .wpml-ls-sub-menu {
            bottom: 100%;
            top: auto;

            li a .wpml-ls-native {
                color: $dark-font;
            }
        }

        a.wpml-ls-item-toggle:after {
            top: 8px;
        }

        .wpml-ls-flag {
            position: relative;
            top: -1px;
            margin-right: 5px;
        }

        .wpml-ls-native {
            display: inline;
            font-size: 16px;
            color: $light-gray-font;
            text-transform: uppercase;
        }
    }
}

.copyright {
    background-color: $light-gray-font;
    padding: 15px 0 3px;

    p {
        font-size: 14px;
        text-align: center;
        color: $dark-font;
    }
}