#breadcrumbs {
    display: none;
}

#post-title {
    .date {
        text-align: center;
        margin-top: 30px;
        font-size: 18px;

        @media only screen and (min-width: 992px) {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }

    h1 {
        text-align: center;
        color: $dark-font;
        font-size: 36px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .category {
        font-family: $body !important;
        color: $primary-color;
        text-align: center;
        font-size: 14px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        margin-top: 5px;
        margin-bottom: 25px;

        @media only screen and (min-width: 992px) {
            margin-bottom: 0;
        }
    }
}

.single .content {
    margin: 0px 0;
    padding: 0px;

    h2 {
        font-size: 24px;
    }

    @media only screen and (min-width: 992px) {
        padding: 30px;
    }
}

.single .featured {
    @media only screen and (min-width: 992px) {
        margin-bottom: 45px;
    }
}

.teaching-prep-msg {
    background-color: $light-gray-bg;
    border-left: 3px solid $primary-color;
    padding: 15px 15px 5px;
    margin-bottom: 15px;

    @media only screen and (min-width: 992px) {
        border-left: 10px solid $primary-color;
        padding: 40px 10px 20px 40px;
        position: relative;
        margin-bottom: 35px;
    }

    p {
        font-style: italic;
        font-family: $light !important;
    }

    img {
        display: none;

        @media only screen and (min-width: 992px) {
            display: initial;
            position: absolute;
            top: -20px;
            left: 40px;
        }
    }

    
}

.content-body {
    margin-bottom: 40px;

    @media only screen and (min-width: 992px) {
        margin-bottom: 60px;
    }
}

.tags {
    margin-top: 0;
    border-top: 0;

    @media only screen and (min-width: 1200px) {
        margin-bottom: 10px;
    }

    .tag-header {
        text-transform: uppercase;
        color: $dark-font;
        line-height: 24px;
        font-size: 18px;
        display: inline;
        float: left;
        margin-right: 8px;
    }

    ul {
        display: inline;

        li {
            font-size: 12px;
            color: $white;
            background-color: $dark-font;
            padding: 2px 5px 0px 3px;
            position: relative;
            top: 1px;
            margin-right: 5px;
            margin-bottom: 2px;

            &:before {
                content: '';
            }
        }
    }
}

.social_sharing {
    margin-bottom: 45px;

    padding: 5px 35px 35px;
    background-color: $light-gray-bg;

    @media only screen and (min-width: 1200px) {
        margin-bottom: 60px;
    }

    h3 {
        font-size: 24px;
        color: $dark-font;
    }
}

.related-articles {
    .related-article-wrapper {
        display: inline-table;
        margin-bottom: 15px;
        max-width: 320px;

        @media only screen and (min-width: 768px) {
            max-width: 100%;
        }

        @media only screen and (min-width: 1200px) {
            display: block;
        }
    }

    .related-article-image {
        width: 100px;
        height: 100px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: table-cell;
        margin-right: 10px;
        background-color: $light-gray-bg;

        @media only screen and (min-width: 1200px) {
            height: 174px;
            width: 100%;
            display: block;
        }

        @media only screen and (min-width: 1440px) {
            height: 220px;
        }
    }

    h3 {
        font-size: 24px;
        color: $dark-font;
    }

    h4 {
        line-height: 16px;
        font-size: 16px;
        text-align: left;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        color: $dark-font;
        font-family: $semi-bold !important;

        @media only screen and (min-width: 1200px) {
            display: block;
            text-align: center;
            line-height: 22px;
        }
    }
}

#comments-title {
    font-size: 24px;
    color: $dark-font;
}

#reply-title {
    font-size: 24px;
    color: $dark-font;
}

#comments {
    @media only screen and (min-width: 768px) {
        margin-bottom: 50px;
    }

    @media only screen and (min-width: 768px) {
        margin-bottom: 80px;
    }

    #commentform {
        #comment {
            font-size: 16px;
            font-family: $body !important;
        }
    
        #submit {
            background-color: $primary-color;
            color: $white;
            font-size: 18px;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            padding: 12px 35px;
            display: inline-block;
        }
    }
}

.content.instructors {
    max-width: 768px;
    margin: 0 auto;
    display: block;

    .featured {
        img {
            width: 262px;
            height: 262px;
            display: block;
            margin: 0 auto;
            box-shadow: none;
        }
    }
}
